<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

	<h1 onclick="window.location.href='/index'">主页</h1>
	<p id="demo">Welcome {{username}} !</p>
    <p id="demo">Welcome {{sessionid}}!</p>


    <input type="button" value="主页"
           onclick="window.location.href='/index'">

    <input type="button" value="登录界面"
           onclick="window.location.href='/login'">

    <input type="button" value="注册界面"
           onclick="window.location.href='/register'">

    <input type="button" value="退出登录"
           onclick="window.location.href='/logout'">

    <br><br>
    <input type="button" value="信息录入"
           onclick="window.location.href='/page2'">

    <br><br>
    <input type="button" value="信息查询"
           onclick="window.location.href='/page3/'">

    <br><br>
    <input type="button" value="测试开发"
           onclick="window.location.href='/page4/'">

    <br><br>
    <input type="button" value="数据库操作"
           onclick="window.location.href='/page5/'">


</body>
</html>